<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=DeltaX;Trusted_Connection=True; Application Name=ImDatabase" />
  </connectionStrings>
</configuration>